html, body{
  padding: 0;
  margin: 0;
  height:100%;
  width:100%;
  font-family: 'Roboto', sans-serif;
}

#main {
  height: 100%;
  width: 100%;
  /*overflow: hidden;*/
}

/*.node:hover{
  opacity: 0.5; //works!
}*/
/*.node-circle:hover{
  opacity: 0.5; //works! but only the circle, not the text
}*/
